body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar header"
                       "sidebar main";
  font-family: 'Poppins', sans-serif;
}

ul {
  list-style-type: none;
}

main {
  grid-area: main;
}

input[type="search"] {
  padding: .5rem 30rem .5rem 1rem;
  border-style: none;
  background-color: var(--clr-ivory);
  border-radius: 1.5rem;
}

input:focus {
  outline: var(--clr-khaki) 2px solid;
}