body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  grid-template-areas: "sidebar header"
                       "sidebar main";
  font-family: 'Poppins', sans-serif;
}

main {
  grid-area: main;
  background: var(--clr-ivory);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1.1fr;
  grid-template-areas: "projects"
                       "projects";
	padding: 2.5rem 2rem 4rem 2rem;
  gap: 2rem;
}

main > section {
  grid-area: projects;
  display: grid;
  grid-template-rows: max-content;
  gap: 1rem;
}

main h2 {
  font-size: clamp(1.4rem, 1.6rem, 2vw);
  font-weight: 600;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 2rem;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--clr-white);
}

input[type="search"] {
  padding: .5rem 30rem .5rem 1rem;
  border-style: none;
  background-color: var(--clr-ivory);
  border-radius: 1.5rem;
}

input:focus {
  outline: var(--clr-khaki) 2px solid;
}

button {
  border-style: none;
  cursor: pointer;
}