.dashboard-sidebar {
  grid-area: sidebar;
  background: var(--clr-dark-blue);
  color: var(--clr-white);
  padding: 2rem 2rem;
  display: grid;
  align-items: start;
  grid-template-rows: 1fr 8fr;
}

.dashboard-sidebar img {
  filter:  brightness(0) invert(1);
  width: 2rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: clamp(1.8rem, 2.4rem, 4vw);
  font-weight: 700;
}

.logo img {
  width: 4rem;
}

.dashboard-sidebar nav {
  padding-left: 1rem;
  display: inherit;
  gap: 6rem;
}

.dashboard-sidebar ul {
  display: inherit;
  gap: 2.5rem;
}

.dashboard-sidebar li {
  position: relative;
}

.dashboard-sidebar a {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: clamp(1.4rem, 1.8rem, 2vw);
  font-weight: 600;
}

.name-div {
  position: relative;
}

.link-name::after {
  content: "";
  position: absolute;
  background-color: var(--clr-white);
  height: 2px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: .3s;
}

.dashboard-sidebar a:hover .link-name::after {
  width: 100%;
}