.main-header {
  grid-area: header;
  display: grid;
  padding: 2rem 5rem;
  gap: 3rem;
}

.main-header > div {
  display: inherit;
  grid-auto-flow: column;
  align-items: center;
}

.search-bar, .search-bar + div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-bar + div {
  justify-content: flex-end;
}

.pfp {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.pfp.-small {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}