.main-header {
  grid-area: header;
  display: grid;
  padding: 2rem 5rem;
  gap: 3rem;
}

.main-header > div {
  display: inherit;
  grid-auto-flow: column;
  align-items: center;
}

.search-bar, .search-bar + div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-bar + div {
  justify-content: flex-end;
}

.pfp {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.pfp.-small {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.greetings {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.greetings p {
  font-size: clamp(1rem, 1.2rem, 2vw);
  font-weight: 600;
  margin-bottom: .5rem;
}

.greetings h1 {
  font-size: clamp(1.6rem, 1.8rem, 2vw);
  font-weight: 700;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}