.main-header {
  grid-area: header;
  display: grid;
  padding: 1.5rem 5rem 2rem;
  gap: 2rem;
}

.main-header > div {
  display: inherit;
  grid-auto-flow: column;
  align-items: center;
}

.search-bar, .search-bar + div {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.search-bar + div {
  justify-content: flex-end;
  font-size: clamp(1.2rem, 1.4rem, 2vw);
  font-weight: 600;
}

.search-bar + div button {
  background: none;
}

.greetings {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.greetings p {
  font-size: clamp(1rem, 1.2rem, 2vw);
  font-weight: 600;
  margin-bottom: .5rem;
}

.greetings h1 {
  font-size: clamp(1.6rem, 1.8rem, 2vw);
  font-weight: 700;
}

.btn-wrapper {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
}

.notifications-btn:hover {
  animation: bell .3s;
}

@keyframes bell {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(-0.1turn);
  }
  50% {
    transform: rotate(0.1turn);
  }
  100% {
    transform: rotate(-0.1turn);
  }
  100% {
    transform: rotate(0turn);
  }
}